.note-card {
  width: 60%;
  min-height: 7rem;
  max-height: max-content;
  border: 1px black solid;
  background-color: var(--white-color);
  border-radius: 5px;
}
.note-card-title {
  padding: 0.5rem;
}
.note-title {
  width: 100%;
  border: 0;
  padding: 10px;
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 1px;
}
.note-title:focus {
  outline: none;
}
.note-pin {
  margin-left: auto;
  font-size: 1.5rem;
}
.note-card-body {
  padding: 0.5rem;
}
.note-card-body > textarea {
  width: 90%;
  height: max-content;
  border: 0;
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.2rem;
  resize: none;
}

.note-card-body > textarea::-webkit-scrollbar {
  display: none;
}
.note-card-body > textarea:focus {
  box-sizing: border-box;
  font-variant-ligatures: none;
  outline: none;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.note-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.note-save-button {
  margin: 0;
}
.note-buttons {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  font-size: 1.5rem;
  position: relative;
}

.chip {
  max-width: max-content;
  margin: 0.2rem;
  border: 2px solid black;
  border-radius: 1rem;
  padding: 0.2rem;
  cursor: pointer;
}
.chip:active {
  opacity: 0.6;
}
.note-icon {
  cursor: pointer;
}
@media only screen and (max-width: 500px){
  .note-card {
    width: 100%;
  }

}