.note-display-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.note-display-card {
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-height: 7rem;
  min-width: 14rem;
  padding: 7px;
  background-color: var(--white-color);
}
.note-display-title {
  display: flex;
  justify-content: space-between;
}
.note-display-footer {
  display: flex;
  justify-content: space-evenly;
  gap: 3px;
  cursor: pointer;
}
.note-display-labels{
  display: flex;
  justify-content: space-evenly;
  gap: 1px;
  cursor: pointer;
}
.chip {
  max-width: max-content;
  margin: 0.2rem;
  border: 2px solid black;
  border-radius: 0.5rem;
  padding:0 10px;
  cursor: pointer;
}
.chip:active {
  opacity: 0.6;
}
.white{
  background-color: var(--white-color);
}
.blue{
  background-color: var(--info-color);
}
.green{
  background-color: var(--sucess-color);
}
.yellow{
  background-color: var(--warn-color);
}
.red{
  background-color: var(--error-color);
}
.modal-page {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  z-index:1;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-box {
 width: 50%;
  height: max-content;
  padding: 1rem;
  cursor: default;
}
@media only screen and (max-width: 500px){
  
.modal-box{
  width: auto;}
  .note-display-container{
    width: 100%;
    flex-direction:column ;
    
  }
}
