.sidebar {
  background-color: var(--white-color);
  width: max-content;
  position: relative;
  padding: 1rem;
}
.sidebar-heading {
  font-weight: bold;
  letter-spacing: 2px;
  display: flex;
  gap: 5px;
  align-items: center;
  margin: 1rem 2rem;
  padding-left: 1rem;
  cursor: pointer;
}
.sidebar-heading:active {
 color: var(--warn-color);
}
.sidebar-icon {
  font-size: 1.5rem;
  position: relative;
    top: 3px;
    margin-right: 10px;
}
.button {
  border-radius: 0;
  margin-left: 2rem;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  background-color: var(--black-color);
  color: var(--white-color);
  cursor: pointer;
  width: max-content;
}
@media only screen and (max-width: 500px){
.sidebar{
  height: 100%;
position: absolute;
top: 4rem;
left: 0;
z-index: 3;
}
}