.navbar {
  min-height: 2.5rem;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(15,13,15,0.47);
  -moz-box-shadow: 0px 1px 5px 0px rgba(15,13,15,0.47);
  box-shadow: 0px 1px 5px 0px rgba(15,13,15,0.47);
}
.navbar-icon {
  font-size: 2rem;
}
.brand-name {
  display: flex;
  align-items: center;
  gap: 1rem;
  letter-spacing: 5px;
  margin-left: 2rem;
  padding: 1rem;
  color: var(--warn-color);
}
.hamburger-button {
  font-size: 1.2rem;
  cursor: pointer;
}
.search-bar {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 40%;
  border: 1px black solid;
  background-color: var(--white-color);
  margin: auto;
}
.search-bar input {
  border: 0;
  padding: 0.5rem;
  width: 80%;
  border-radius: 0.5rem;
}
.search-bar .icon {
  font-size: 1.5rem;
}
.right-navbar{
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-left: auto;
  color: var(--warn-color);
cursor: pointer;
}
.theme-icon{
  margin-left: auto;
  font-size: 1.5rem;
cursor: pointer;
}
.right-navbar>.icon{
  color: var(--warn-color);
  font-size: 1.5rem;
margin: 1rem;
cursor: pointer;
}
.theme{
  position: relative;
}
.theme-box{
  background-color: var(--warn-color);
  z-index: 3;
  color: black;
  position: absolute;
  bottom:-2.5rem ;
  right: 1.2rem;
  display: flex;
  gap: 10px;
  padding: 5px 1rem;
}
.theme-box>.theme-color{
  border-radius: 50%;
  width: 2rem;
  height:2rem;
  border: 1px solid black;
}
/* @media only screen and (max-width: 500px){
  .hamburger-button{
    display: inline;
  }
} */